/* page style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: italic;
}
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
/* sections style */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: beige;
  font-size: x-large;
  padding: 20px;
  height: 100vh;
}
#page-1,
#page-2,
#page-3,
#page-4,
#page-5 {
  background-color: darkmagenta;
}

/* title style */
h1 {
  color: gainsboro;

  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  margin-bottom: 50px;
}
/* paragraph style */
p {
  color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
}
/* buttons style */
div {
  display: flex;
}
a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
i {
  margin: 5px;
}
.next {
  background-color: beige;
  color: black;
}
.previous {
  background-color: black;
  color: beige;
}
.next:hover,
.previous:hover {
  background-color: gray;
}
